{% extends 'base.html.twig' %}

{% block title %}Editing course: {{ course.name }}{% endblock %}

{% block stylesheets %}
    <link href="/css/courses.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="/js/courseoverview.js"></script>
    <script src="/js/courseselection.js"></script>
{% endblock %}

{% block body %}
    <div class="courseOverviewContainer">
        <span class="titleContainer">
            <a href="/course">Back to course selection</a>
            <br>
            <div class="pageTitle inline">
                <input id="courseName" type="text" onchange="changeCourseName({{ course.id }}, this.value)" value="{{ course.name }}">
            </div>
            <div class="btnContainer inline">
                <button id="startCourseBtn" class="btn" onclick="startCourse({{ course.id }})">Start Course</button>
            </div>
        </span>
        <div class="btnContainer">
            <button id="newQuestionBtn" class="btn greenBtn defaultBtn" onclick="newQuestion({{ course.id }})">+ New question</button>
        </div>
        <div class="questionList">
            <input id="courseNr" type="hidden" value="{{ course.id }}" />
                <div class="questionLabels">
                    <span class="questionLabel-l">Question</span>
                    <span class="questionLabel-r">Sort Order</span>
                </div>

                {% for question in questions %}
                    <div id="question_{{ question.id }}" class="question">
                        <div class="question-l">
                            <input class="questionContents" type="text" onchange="updateQuestion({{ course.id }}, {{ question.id }})" value="{{ question.content }}" />
                        </div>

                        <div class="question-r">
                            <input class="questionSortOrder" type="number" onchange="updateQuestion({{ course.id }}, {{ question.id }})" value="{{ question.sortOrder|number_format }}" />
                            <div class="actionButtons">
                                <button id="questionBtn" class="btn redBtn" onclick="deleteQuestion({{ course.id }}, {{ question.id }})">delete</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

        </div>
    </div>
{% endblock %}